<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Application</title>
</head>

<body style="background-color: #b7a3db;">
    <div class="jumbotron jumbotron-fluid heading">
        <div class="container">
            <h1 class="display-4;" style="text-align:center; top: 50%;">Welcome to My Meetings</h1>
            <img src="/meetings.jpg" alt="Meetings" width="500" height="300" style="margin-top: 50px; margin-left: 250px">
            <br>
            <br>
        </div>
    </div>

    <form action="/joinMeeting" method="post">
        <div class="input-group mb-3">
            <input type="text" name="code" style="display: inline; padding: 15px; width: 20%; float:left; margin-left: 30px" placeholder="Enter code.." autocomplete="off" maxlength="36" required> 
            <input type="text" value="" style="display: none" class="codeMeeting">
          <button class="btn btn-lg btn-primary joining" type="submit" name="joinMeet" style="background-color:#0ecc8d; float:left; width: 20%; padding: 15px; cursor: pointer;">Join Session</button>
        </div>
      </form>

    <div class="start">
    <form method="post" action="/newMeeting">
        <button class="btn btn-lg btn-primary" type="submit" name="startMeet" style="background-color:#0ecc8d; float:right; width: 20%; padding: 15px; margin-right: 30px; cursor: pointer;">Start New Meeting</button>
    </form>
    </div>
    
</body>
</html>