<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Application</title>
</head>

<body style="background-color: #b7a3db;">
    <div class="jumbotron jumbotron-fluid heading">
        <div class="container">
            <h1 class="display-4;" style="text-align:center; top: 50%;">Welcome to My Meetings</h1>
            <img src="/meetings.jpg" alt="Meetings" width="500" height="300" style="margin-top: 50px; float: inline">
        </div>
    </div>
    <form method="post" action="/newMeeting">
        <button class="btn btn-lg btn-primary" type="submit" name="startMeet" style="background-color:#0ecc8d; float:right; width: 20%; padding: 15px">Start New Meeting</button>
    </form>
 
</body>
</html>