<!--embedded js inside HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
    const room_num= "https://tranquil-ridge-38626.herokuapp.com/"+ROOM_ID;
  </script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">

  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <title>Microsoft teams Clone</title>
</head>
<body>
  <div class="main__videos">
    <div id="video-grid"></div>
  </div>
   
  <!--mic button-->
  <button type="button" name="btn" class="microphone"> 
    <span class="material-icons-round mic-btn">mic</span> 
  </button>

  <!--camera button-->
  <button type="button" name="btn" class="camera"> 
    <span class="material-icons-round cam-btn">videocam</span> 
  </button>

  <!--end call button-->
  <form method="post" style="display: inline;" action="/EndingPage">
    <button type="submit" name="endBtn" class="endCall" > 
      <span class="material-icons-round end-btn">call_end</span>
    </button>
  </form>
  <!--shareLink button-->
  <div class="Sharing" style="display: inline;">
    <button type="submit" name="share" class="shareBtn" style="background-color: #22f2ef;">
      <span class="material-icons-round share-link">share</span>
    </button>
  </div>

  <div class="card link-container" style="width: 20rem; display: none; background-color: rgb(18, 209, 243);">
    <div class="card-header" style="background-color: rgb(18, 209, 243);">
      <h3 class="card-title" style="display: inline; color: black;">Share link: </h3>
      <span class="material-icons-round closeBtn" style="cursor: pointer; float: right; color: black;">close</span>
    </div>
    <input id="contain-link" type="text" disabled> 
  </div>  

  <!--Chat functionality-->
  <div class="chatBox" style="display: inline;">
    <button type="submit" name="msg" class="chatting" style="background-color: #22f2ef;">
      <span class="material-icons-round">chat</span>
    </button>
  </div>

<div class="card message-container" style="width: 20rem; display: none; background-color: rgb(18, 209, 243);">
  <div class="card-header" style="background-color: rgb(18, 209, 243);">
    <h3 class="card-title" style="display: inline; color: black;">Chat</h3>
    <span class="material-icons-round close" style="cursor: pointer; float: right; color: black;">close</span>
  </div>
  <form id="send-container">
    <input type="text" id="msg-input" placeholder="Send Message...">
    <button type="submit" id="send-btn">
        <span class="material-icons-round">send</span>
    </button>
</form>
</div>  

  <!--live captioning-->
  <!-- <audio></audio>
  <div class="caption" style="display: inline;">
    <button type="submit" name="cap" class="live_captioning" style="background-color: #22f2ef;">
      <span class="material-icons-round cptnBtn">subtitles_off</span>
    </button>
  </div>

  <div class="card caption-container" style="width: 20rem; float:bottom; display: none; background-color: black">
    <div class="card-header" style="background-color: black">
      <h5 class="card-title" style="display: inline; color: white;">Live Captions</h5>
      <span class="material-icons-round closeCaption" style="cursor: pointer; float: right; color: white;">close</span>
    </div>
  </div> -->

  <script src="/script.js"></script>
</body>
</html>
